.panel {
  background-color: #dfe3e6;
  border-radius: 3px;
  width: 278px;
  margin-right: 8px;
  &_empty {
    .add_form {
      margin-top: 12px;
    }
  }
  &_title {
    font-weight: bold;
    padding: 12px 12px 0;
    color: #1d3052;
    display: flex;
    justify-content: space-between;
    span {
      display: block;
    }
    img {
      display: block;
      width: 22px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &_list {
    padding: 0 12px 0;
    margin-top: 12px;
    max-height: 73vh;
    overflow: auto;
  }
}
