.add_form {
  padding: 12px;
  &-input {
    textarea {
      border: none;
      margin: 0;
      padding: 0;
      width: 100%;
      outline: none;
      resize: none;
      cursor: text;
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .add_button {
      width: 100%;
      padding: 12px;
      color: #6b808c;
      display: flex;
      align-items: center;
      &:hover {
        background-color: darken(#dfe3e6, 10);
        border-radius: 0 0 3px 3px;
        cursor: pointer;
        color: darken($color: #6b808c, $amount: 40);
      }
      img {
        display: block;
        margin-right: 8px;
        width: 22px;
      }
    }
  }
  img {
    cursor: pointer;
    width: 28px;
  }
}
